.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
}

.Header .Logo {
  /* targets any Logo inside header, not in any other place*/
  font-size: 24px;
  font-weight: bold;
}

.Header nav {
  display: flex;
}

.Header nav a {
  color: black;
  font-size: 16px;
  margin: 0 10px;
  padding: 2px 10px;
}

.Header nav a:last-child {
  margin-right: 0;
  padding-right: 0;
}

.Form form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

.Form input {
  margin-bottom: 30px;
  padding: 15px 5px;
}
